body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
/* CSS for toggle; not yet implemented */
.switch-on {
  background: seagreen;
  background: linear-gradient(90deg, steelblue, whitesmoke, steelblue);
}

#gridContainer {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: 7.5px solid steelblue;
    border-radius: 5px;
    height: 720px;
    width: 720px;
    margin: auto;
}

#selectContainer {
  display: flex;
  gap: 5px;
  margin: auto;
  margin-top: 2px;
}

#buttonContainer {
  display: flex;
  gap: 2.5px;
  margin-top: 0.5px;
}

button {
    border: 2.5px solid lightgray;
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 75px;
}

button:hover {
    background-color: darkgray;
    color: white;

}

.square {
    border: 1px solid lightgray;
}

body.dark {
  background-color: steelblue;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
    margin-bottom: 2px;
    border: 2.5px solid lightgray;
    border-radius: 5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgrey;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: steelblue;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px steelblue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.slider.round {
    border-radius: 2.5px;
  }
  
  .slider.round:before {
    border-radius: 2.5px;
  }