#container {
    display: flex;
    /*flex: 1;*/
    flex-wrap: wrap;
    /*align-content: flex-start;*/
    border: 5px solid seagreen;
    height: 720px;
    width: 720px;
    margin: auto;
}

.square {
    border: 1px solid orange;
}

.square:hover {background-color: black;}